@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
}

header {
    text-align: left;
    color: #fdfbfc;
    background-color: #ca776e;
    margin: 1% 0;
    padding: 2%;
}

footer {
    text-align: center;
    color:#ca776e;
    padding:2%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.square {
    height: 70vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.square h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #fdfbfc;
    text-align: center;
}

.brown {
    background-color: #ca776e;
    
}

.white {
    text-align: center;
}

nav.App-nav {
    display: flex;
    justify-content: right;
    /* padding-top: 2rem; */
    padding: 0 10rem;
    font-size: 1.3rem;
}

.App-nav a {
    margin: 0 10px;
    /* Add margin between links */
    text-decoration: none;
    color: #333;
    /* Set link color */
}

form{
    font-family: "Nunito Sans", sans-serif;
    border-radius: 5px;
}

input{
    font-family: "Nunito Sans", sans-serif ;
    font-size: 110%;
}