body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #2f3640;
  color: #D5D8DC;
}

.App-nav {
  display: flex;
  flex-direction: row; /* Change to column layout */
  align-items: center;
  justify-content: center; /* Center horizontally and vertically */
  background-color: #2f3640;
  padding-top: 2rem;
  width: 100%; /* Take the full width of the viewport */
}

.App-nav a {
  text-decoration: none;
  color: #D5D8DC;
  margin: 1.5rem;
  font-size: 16px;
}

.App-nav button {
  cursor: pointer;
  background: none;
  border: none;
  color: #D5D8DC;
  font-size: 16px;
  margin-right: 20px;
}

.App-nav a:hover,
.App-nav button:hover {
  text-decoration: underline;
}


/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/
